<!-- 카테고리바 -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>김군화넷</title>

  <link rel="stylesheet" type="text/css" href="Stylesheet/review.css" />
  <link rel="stylesheet" type="text/css" href="Stylesheet/community.css" />
  <link rel="stylesheet" type="text/css" href="Stylesheet/css_set.css" />

</head>

<body>
  <%- include ("header")%>
  <div class="content">

    <!-- 탑베너 -->
    <div class="top-banner">
      <div class="top-banner-content">
        <img class="army-mark" src="" />
        <div class="banner-title">
          <span><%=divdata.name%> (<%=divdata.brigade%>)</span>
          <div class="banner-text">
            <img class="banner-icon" src="icon/crown.svg" />
            <%var totalrating = (ratingdata.info.px_rating + ratingdata.info.domitory_rating + ratingdata.info.meal_rating + ratingdata.info.location_rating + ratingdata.info.shower_rating)/5%>
            <span><%=totalrating%> (<%=ratingdata.info.review_count%>개 리뷰)</span>
          </div>
        </div>
        <div class="review-btn">
          <span>이 사단 리뷰하기</span>
        </div>
      </div>
    </div>

    <!-- 중간 카테고리 -->
    <div class="category">
      <div class="category-content">
        <div id= "category-review" class="category-cell">
          <a href = "/review?uid=1">
          <span>리뷰</span>
          </a>
        </div>
        <div id= "category-community" class="category-cell  now-state">
          <a href = "/community?uid=1">
          <span>커뮤니티</span>
          </a>
        </div>
        <div id= "category-local" class="category-cell">
          <a href = "/local?uid=1">
          <span>주변생활</span>
        </a>
        </div>
      </div>
    </div>
  <div class="bottom-background" id = "community-page">
      <div class="wrap">
          <div class="wrap_L">

              <div class="search">
                  <span class="search_commu">3사단 커뮤니티</span>
                  <form action = "/community" method="GET">
                  <input id="keyword" name="keyword" type="search" placeholder="키워드로 검색해보세요."
                  autocomplete="off" class="inp-srch wrap-srch on">
                  <input name="uid" value = "<%=ratingdata.info.uid%>" style="display:none;">
                  <button type="submit" class="army-search-btn">
                      <img src="icon/search.png">
                  </button>
                  </form>
                  <div class="recommen_k">
                      <span class="recomm">추천 키워드</span>
                      <span>3사단</span>
                      <span>휴가</span>
                      <span>3사단 조교</span>
                      <span>일과</span>
                      <span>3사단</span>
                      <span>휴가</span>
                      <span>3사단 조교</span>
                      <span>일과</span>
                      <span>3사단</span>
                      <span>휴가</span>
                      <span>3사단 조교</span>
                      <span>일과</span>
                      <span>3사단</span>
                      <span>휴가</span>
                  </div>
              </div>

              <div class="community"> 
                  <div>
                    <%for(var i = 0 ; i < commudata.length ; i++){%>
                      <div class="comm01">
                        
                          <span class="title"><%=commudata[i].title%></span>

                          <p><%=commudata[i].content%>
                          </p>
                          
                         <div style="display: flex;">
                          <div class="flo">
                            <img class="local-img02" src="icon/hospitable.png">
                            <span><%=commudata[i].show_count%></span>
                          </div>
                          <div class="flo">
                            <img class="local-img02" src="icon/comment.png">
                            <span><%=commudata[i].content_count%></span>
                          </div>
                          <div class="flo">
                            <img class="local-img02" src="icon/handclap.png">
                            <span><%=commudata[i].like_count%></span>
                          </div>
                        </div>
                      </div>
            
                  <div class = "border"></div>
                </div>
                  <%}%>
          

          </div>

          <div class="wrap_R" style="margin: 20px 0px 0px 20px;">
            <div class="bottom-content-right">
              <div class="text-box">
                <span>사단 정보</span>
                <div class="info-cell" style="margin-top: 20px;">
                  <div class="info-title">
                    주소
                  </div>
                  <div class="info-text">
                    <%=divdata.address%>
                  </div>
                </div>
                <div class="info-cell">
                  <div class="info-title">
                    사단 별칭
                  </div>
                  <div class="info-text">
                    <%=divdata.nickname%>
                  </div>
                </div>
                <div class="info-cell">
                  <div class="info-title">
                    식당 번호
                  </div>
                  <div class="info-text">
                    <%if(divdata.address != null){%>
                      <%=divdata.address%>
                    <%}else{%>
                    정보 없음
                      <%}%>
                  </div>
                </div>
              </div>
                <div class="text-box" style="margin-top: 20px;">
                  <span>관련 뉴스</span>
                  <%for (var j = 0;j<3; j++){%>
                  <div class="news-cell" style="margin-top: 20px;">
                    <div class="news-img"></div>
                    <div class="news-text">
                      철원군.의회 “3사단 사령부 이전 재검토를"
                    </div>
                  </div>
                  <%}%>
              </div>
            </div>
      </div>

  </div>
  </div>
    </div>
    </div>


  </div>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function select{
  axios.get('').then
}
</script>