<!-- 카테고리바 -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>김군화넷</title>

  <link rel="stylesheet" type="text/css" href="Stylesheet/review.css" />
  <link rel="stylesheet" type="text/css" href="Stylesheet/local.css" />
  <link rel="stylesheet" type="text/css" href="Stylesheet/css_set.css" />

</head>  
 
<body>
  <%- include ("header")%>
  <div class="content">

    <!-- 탑베너 -->
    <div class="top-banner">
      <div class="top-banner-content">
        <img class="army-mark" src="icon/img/3.jpg" />
        <div class="banner-title">
          <span><%=divdata.name%> (<%=divdata.brigade%>)</span>
          <div class="banner-text">
            <img class="banner-icon" src="icon/crown.svg" />
            <%var totalrating = (ratingdata.info.px_rating + ratingdata.info.domitory_rating + ratingdata.info.meal_rating + ratingdata.info.location_rating + ratingdata.info.shower_rating)/5%>
            <span><%=totalrating%> (<%=ratingdata.info.review_count%>개 리뷰)</span>
          </div>
        </div>
        <div class="review-btn">
          <a href = "/reviewWrite">
          <span>이 사단 리뷰하기</span>
        </a>
        </div>
      </div>
    </div>

    <div class="category">
      <div class="category-content">
        <div id= "category-review" class="category-cell">
          <a href = "/review?uid=1">
          <span>리뷰</span>
          </a>
        </div>
        <div id= "category-community" class="category-cell">
          <a href = "/community?uid=1">
          <span>커뮤니티</span>
          </a>
        </div>
        <div id= "category-local" class="category-cell now-state">
          <a href = "/local?uid=1">
          <span>주변생활</span>
        </a>
        </div>
      </div>
    </div>
    <div class="bottom-background" id="community-page"">
      <div class="wrap">
        <div class="wrap_L">

          <div class="search">
            <span class="search_commu">3사단 주변생활</span>
            <form action = "/local" method="GET">
              <div style="position: relative;">
            <input id="keyword" name="keyword" type="search" placeholder="키워드로 검색해보세요." autocomplete="off"
              class="inp-srch wrap-srch on">
              <input name="uid" value = "<%=ratingdata.info.uid%>" style="display:none;">
              <button type="submit" class="army-search-btn">
                <img src="icon/search.png">
            </button>
            </div>
            </form>
            <div class="recommen_k">
              <span class="recomm">추천 키워드</span>
              <span>3사단</span>
              <span>휴가</span>
              <span>3사단 조교</span>
              <span>일과</span>
              <span>3사단</span>
              <span>휴가</span>
              <span>3사단 조교</span>
              <span>일과</span>
              <span>3사단</span>
              <span>휴가</span>
              <span>3사단 조교</span>
              <span>일과</span>
              <span>3사단</span>
              <span>휴가</span>
            </div>
          </div>

          <div class="community">
            <div>
              <select class="local-select">
                <option value="id">최신순</option>
                <option value="pop">추천순</option>
                <option value="old">오래된 순</option>
                <option value="low">평점 높은 순</option>
                <option value="high">평점 낮은 순</option>
              </select>
            </div>
            <%for(var i = 0; i < localdata.length; i ++){%>
            <div>
              <div class="comm01" style="position:relative;">
                <img src="icon/3dot.png" onclick = "inquiry();" class = "inquiry">
                <div style="display: flex;">
                  <span class="title"><%=localdata[i].name%></span>
                  <span class="hashtag">#<%=localdata[i].type%></span>
                </div>
                <div class="comm01-cell" style="margin-top: 20px;">
                  <span>주소</span>
                  <span><%=localdata[i].address%></span>
                </div>
                <div class="comm01-cell">
                  <span>전화 번호</span>
                  <span><%=localdata[i].phone_number%></span>
                </div>
                <div class="local-img">
                  <img  class="local-img"src="<%=localdata[i].image_url%>" />
                </div>

                <p>
                  <%=localdata[i].content%>
                </p>

                <div style="display: flex;">
                  <div class="flo">
                    <img class="local-img02" src="icon/hospitable.png">
                    <span><%=localdata[i].show_count%></span>
                  </div>
                  <div class="flo">
                    <img class="local-img02" src="icon/comment.png">
                    <span><%=localdata[i].like_count%></span>
                  </div>
                  <div class="flo">
                    <img class="local-img02" src="icon/handclap.png">
                    <span><%=localdata[i].comment_count%></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="border"></div>
            <%}%>
           
              </div>
              <div class="border"></div>
             
              </div>
              

      <div class="wrap_R" style="margin:20px 0px 0px 20px; ">
        <div class="bottom-content-right">
          <div class="text-box">
            <span>사단 정보</span>
            <div class="info-cell" style="margin-top: 20px;">
              <div class="info-title">
                주소
              </div>
              <div class="info-text">
                <%=divdata.address%>
              </div>
            </div>
            <div class="info-cell">
              <div class="info-title">
                사단 별칭
              </div>
              <div class="info-text">
                <%=divdata.nickname%>
              </div>
            </div>
            <div class="info-cell">
              <div class="info-title">
                식당 번호
              </div>
              <div class="info-text">
                백골회관 : 033-458-7540<br>
                삼성회관 : 033-458-5539
              </div>
            </div>
          </div>
            <div class="text-box" style="margin-top: 20px;">
              <span>관련 뉴스</span>
              <div class="news-cell" style="margin-top: 20px;">
                <img class="news-img" src = "icon/news/news.jpg" />
                <div class="news-text">
                  철원군.의회 “3사단 사령부 이전 재검토를"
                </div>
              </div>
              <div class="news-cell" style="margin-top: 20px;">
                <img class="news-img" src = "icon/news/news2.jpg" />
                <div class="news-text">
                  국가안보 희생을 지역 소멸로 되갚나’…철원군 3사단 존치 호소
                </div>
              </div>
              <div class="news-cell" style="margin-top: 20px;">
                <img class="news-img" src = "icon/news/news3.jpg" />
                <div class="news-text">
                  육군 3사단, 철원·포천 일대서 18일부터 혹한기 훈련
                </div>
              </div>
          </div>
        </div>


        <!-- 팝업 창 -->
        <button id="myBtn">주변 올리기</button>
 
        <div id="myModal" class="modal">
    

        <div class="modal-content">
          <span class="close">&times;</span>                                                               
          
          <div class="pop_wrap">
            <p class="pop_h">주변생활</p>

            <form id = "localform" method = "POST">
              <input name = "div_uid" value = "1" style="display: none;"/>
              <div>
                <h3 class="join_title">
                  <label for="id">카테고리</label>
                </h3>
                <span class="pop_box01">
                  <select id="mm" name = "type" class="sel">
                    <option>카페고리를 선택해주세요.</option>
                    <option value="01">식당</option>
                    <option value="02">숙박</option>
                    <option value="03">피씨방</option>                    
                    <option value="03">기타</option>
                  </select>
                </span>
              </div>

              <!-- 상호명 -->
						  <div>
                <h3 class="join_title">
                  <label for="id">상호명</label>
                </h3>
                <span class="pop_box01">
                  <input type="text" name = "name" id="id" class="int" maxlength="20" placeholder="상호명을 입력해주세요.">
                </span>
              </div>

              <!-- 주소 -->
              <div>                
                <h3 class="join_title"><label for="phoneNo">주소</label></h3>
                <span class="pop_box01">
                  <input type="text" name="address" class="postcodify_address" value=""  placeholder="주소를 입력해주세요." />
                </span>	
              </div>

              <!-- 가격 -->
              <div>
                <h3 class="join_title"><label for="name">가격</label></h3>
                <span class="pop_box01">
                  <input type="text" name="price" id="name" class="int" maxlength="20"  placeholder="음식 별 가격을 입력해주세요.">
                </span>
              </div>

              <!-- 전화번호 -->
              <div>
                <h3 class="join_title"><label for="phoneNo">전화번호</label></h3>
                <span class="pop_box01">
                  <input type="tel" id="mobile" name = "phone_number"class="int" maxlength="16" placeholder="전화번호를 입력해주세요.">
                </span>
                <span class="error_next_box"></span>    
              </div>

              <!-- 상세정보 -->
              <div>                
                <h3 class="join_title"><label for="phoneNo">상세정보</label></h3>
                <span class="pop_box01">
                  <input type="text" name="information" class="postcodify_details" value=""  placeholder="상세정보를 입력해주세요."/>
                </span>		
              </div>

              <!-- BIRTH_DD -->
              <div id="bir_dd">
                <h3 class="join_title"><label for="comment">선임 또는 간부에게 소개해주시겠습니까?</label></h3>
                <span class="pop_box01">
                  <input type="text" id="comment" name = "content" class="int" maxlength="2" placeholder="후기를 공유해주세요.">
                </span>
              </div>

              <!-- 하단 -->
              <div class="pop_footer">
                <img src="icon/photo.png"/>
                <!-- 등록 btn -->
                <div class="pop_btn_area">
                  <button type="button" onclick="submitform();" id="pop_btnJoin">
                    <span>등록</span>
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
    
        </div>




      </div>
  </div>

    </div>
      </div>

  </div>
  </div>
    </div>
    </div>


  </div>
</body>




<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
function inquiry(){
  confirm("신고 : 정말 마음의 편지를 보내시겠습니까?");
}
function submitform(){
         // Get form
         var form = $('#localform')[0];
    // Create an FormData object 
    var data = new FormData(form);

        $.ajax({
            processData: false,
            contentType: false,
          url: "http://localhost:3000/api/div/local",
          type: 'POST',
          contentType: 'application/json',
          headers: {
                    "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImFhYUBhYWEuY29tIiwiaWF0IjoxNjEyNTMxNzY1LCJleHAiOjE2MTI1NzQ5NjV9.lEbyusskkOagxeYrqgjHzkfveCWQNcZn-AAYGMccReA"
                 },
        data:data}
    )
    }
</script>


<script>
    // Get the modal
    var modal = document.getElementById('myModal');
 
 // Get the button that opens the modal
 var btn = document.getElementById("myBtn");

 // Get the <span> element that closes the modal
 var span = document.getElementsByClassName("close")[0];                                          

 // When the user clicks on the button, open the modal 
 btn.onclick = function() {
     modal.style.display = "block";
 }

 // When the user clicks on <span> (x), close the modal
 span.onclick = function() {
     modal.style.display = "none";
 }

 // When the user clicks anywhere outside of the modal, close it
 window.onclick = function(event) {
     if (event.target == modal) {
         modal.style.display = "none";
     }
 }

</script>
      