

  <!-- 카테고리바 -->
  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>김군화넷</title>

  <link rel = "stylesheet" type="text/css" href = "Stylesheet/main.css"/>
  <link rel = "stylesheet" type="text/css" href = "Stylesheet/css_set.css"/>

</head>

  <body>
  <%- include ("header")%>
<div class = "content">
  <form action = "">
    <div style="position: relative;">
    <input type = "text" class = "army-search-form" placeholder="사단 이름을 검색하세요"/>
  <button type = "submit" class = "army-search-btn" >
    <img src = "icon/search.png" />
  </button>
  </div>
  </form>

<div class = "main-content">
    <div class = "main-zone" style="width : 46%">
      <span>사단리뷰 바로가기</span>
      <div class = "main-zone-line"></div>
      <div class = "army-direct-zone">
    <%for(var i = 0; i< 3; i ++){%>
      <div style="display: flex;">
        <%for(var j = 0; j< 3; j ++){%>
        <div class = "army-direct-cell">
          <a href = "">
          <img src = ""/>
        </a>
        </div>
        <%}%>
      </div>
      <%}%>
     
      </div>
    </div>
    <div class = "main-zone" style="width :calc(28% - 40px)">
      <span>많이 찾는 QnA</span>
      <div class = "main-zone-line"></div>
      <div class = "qna-list">
        <%for(var i = 0; i< qna.length; i ++){%>
        <div class = "qna-cell">
          <div class = "qna-text">
          <span><%=qna[i].title%></span>
          </div>
          <img src = "icon/comment.png"  class = "main-icon"/>
          <span><%=qna[i].comment_count%></span>
          <img src = "icon/handclap.png"  class = "main-icon"/>
          <span><%=qna[i].like_count%></span>  
        </div>
        <%}%>
      </div>
    </div>
    <div class = "main-zone" style="width :calc(28% - 40px)">
      <span>실시간 사단평점 순위</span>
      <div class = "main-zone-line"></div>
      <div class = "qna-list">
        <%for(var i = 0; i< rank.length; i ++){%>
        <div class = "qna-cell">
          <div class = "qna-text">
          <span><%=rank[i].name%></span>
          </div>
          <%if (rank[i].status == '1'){%>
            <img src = "icon/up.png"  class = "main-icon"/>
            <%}else if(rank[i].status == '2'){%>
              <img src = "icon/down.png"  class = "main-icon"/>
              <%}else{%>
                <img src = "icon/stable.png"  class = "main-icon"/>
                <%}%>
        </div>
        <%}%>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
<script>

</script>