

  <!-- 카테고리바 -->
  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내친소 admin</title>

  <link rel = "stylesheet" type="text/css" href = "Stylesheet/main.css"/>
  <link rel = "stylesheet" type="text/css" href = "Stylesheet/sb-admin-2.css"/>
  <link rel = "stylesheet" type="text/css" href = "Stylesheet/css_set.css"/>

</head>

  <body>
<div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">가입자 정보</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>유형</th>
                        <th>승인 운영진</th>
                        <th>승인</th>
                        <th>거절 이유</th>
                        <th>생성일</th>
                    </tr>
                </thead>
                <tbody>
                  <%for (var i = 0; i < pending.length; i++){%>
                      <tr onclick="location.href='/user/<%=pending[i].memberId%>'">
                          <td><%=pending[i].id%></td>
                          <td><%=pending[i].type%></td>
                          <td><%=pending[i].adminId%></td>
                          <td><%=pending[i].isAccepted%></td>
                          <td><%=pending[i].reason%></td>
                          <td><%=pending[i].createdAt%></td>
                      </tr>
                    <%}%>
                  </tbody>
                  </table>
</div>
</body>
</html>
<script>

</script>