<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>김군화넷</title>

    <link rel = "stylesheet" type="text/css" href = "Stylesheet/QnA.css"/>
    <link rel = "stylesheet" type="text/css" href = "Stylesheet/css_set.css"/>
  </head>

<body>
    <%- include ("header")%>
        <div class="wrap">
            <div class="wrap_L">

                <div class="search">
                    <span class="search_commu">궁금해요</span>
                    <form action = "/qna" method="GET">
                    <div style="position: relative;">
                    <input id="keyword" name="keyword" type="search" placeholder="키워드로 검색해보세요."
                    autocomplete="off" class="inp-srch wrap-srch on">
                    <button type="submit" class="army-search-btn">
                        <img src="icon/search.png">
                    </button>
                    </div>    
                </form>
                    <div class="recommen_k">
                        <span class="recomm">추천 키워드</span>
                        <span>3사단</span>
                        <span>휴가</span>
                        <span>3사단 조교</span>
                        <span>일과</span>
                        <span>3사단</span>
                        <span>휴가</span>
                        <span>3사단 조교</span>
                        <span>일과</span>
                        <span>3사단</span>
                        <span>휴가</span>
                        <span>3사단 조교</span>
                        <span>일과</span>
                        <span>3사단</span>
                        <span>휴가</span>
                    </div>
                </div>

                <div class="community"> 
                    <%for (var i = 0; i < qnadata.length; i++){%>
                    <div>
                        <div class="comm01">
                            <span class="title"><%=qnadata[i].title%></span>
                            <%if(i<4){%>
                            <span class="label success tiny maright-1">NEW</span>
                            <%}if(qnadata[i].like_count>1){ %>
                            <span class="label alert tiny maright-1">HOT</span>
                            <%}%>
                            <p><%=qnadata[i].content%>
                            </p>
                            <div style="display: flex; margin-top: 12px;">
                                <div class="flo">
                                    <img class="img02" src="icon/hospitable.png">
                                    <span><%=qnadata[i].show_count%></span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/comment.png">
                                    <span><%=qnadata[i].comment_count%></span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/handclap.png">
                                    <span><%=qnadata[i].like_count%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border"></div>
                   <%}%>
                        </div>
                    </div>
                    

                </div>

            </div>

            <div class="wrap_R">
                <div class="comm_info">
                    <div class="info01">
                        <span class="info02">나의 궁금해요</span>

                        <p>
                            <span>철원 오리너구리</span>님이 "3사단 일과"에 <span>답변</span>을 남겼습니다. 
                        </p>
                        <p>
                            <span>철원 오리너구리</span>님이 "3사단 일과"에 <span>답변</span>을 남겼습니다. 
                        </p>
                        <p>1000명이 넘게 "3사단 일과"를 살펴봤어요!</p>
                        <p>
                            <span>철원 오리너구리</span>님이 "3사단 일과"에 <span>답변</span>을 남겼습니다. 
                        </p>
                        <p>1000명이 넘게 "3사단 일과"를 살펴봤어요!</p>
                        <p>
                            <span>철원 오리너구리</span>님이 "3사단 일과"에 <span>답변</span>을 남겼습니다. 
                        </p>
                        <div style="display: none;" id ="more-info"> 
                            <p>1000명이 넘게 "3사단 일과"를 살펴봤어요!</p>
                            <p>
                                <span>철원 오리너구리</span>님이 "3사단 일과"에 <span>답변</span>을 남겼습니다. 
                            </p> 
                        </div>
                        <div>
                            <input value="더보기" onclick="more(this);" class="more-btn" />
                        </div>

                    </div>
                </div>



                <button id="myBtn">질문하기</button>
            
                <div id="myModal" class="modal">
            
                <div class="modal-content">
                    <span class="close">&times;</span>                                                               
                    
                    <div class="pop_wrap">
                        <p class="pop_h">질문하기</p>

                        <form>
                            <!-- 상호명 -->
                            <div>
                                <h3 class="join_title">
                                <label for="id">제목</label>
                                </h3>
                                <span class="pop_box01">
                                <input type="text" id="th" class="int" maxlength="20" placeholder="제목을 입력해주세요.">
                                </span>
                            </div>

                            <!-- 질문 -->
                            <div>
                                <h3 class="join_title">
                                <label for="id">질문</label>
                                </h3>
                                <span class="pop_box01">
                              
                                    <form method="post">
                                        <%- include ("summernote")%> 
                                    </form>                      
                                </span>
                            </div>

                            <!-- 하단 -->
                            <div class="pop_footer">
                                <button class="btn_photo"><img src="icon/photo.png"/></button>
                                <button class="btn_clip"></button><img src="icon/clip.png"/></button>
                                <button class="btn_shap"></button><img src="icon/shap.png"/></button>
                                <!-- 등록 btn -->
                                <div class="pop_btn_area">
                                <button type="button" id="pop_btnJoin">
                                    <span>등록</span>
                                </button>
                                </div>
                            </div>

                        </form>

                    </div>
            
                </div>





            </div>
        </div>

    </div>
</body>
<script>
    function more(obj){
        var moreinfo = document.getElementById('more-info');
        
        if(obj.value == "더보기"){
            moreinfo.style.display = 'block'
            obj.value = '숨기기';
        }else{
            moreinfo.style.display = 'none'
            obj.value = '더보기';
        }
    }
</script>

<script>
         // Get the modal
         var modal = document.getElementById('myModal');
 
 // Get the button that opens the modal
 var btn = document.getElementById("myBtn");

 // Get the <span> element that closes the modal
 var span = document.getElementsByClassName("close")[0];                                          

 // When the user clicks on the button, open the modal 
 btn.onclick = function() {
     modal.style.display = "block";
 }

 // When the user clicks on <span> (x), close the modal
 span.onclick = function() {
     modal.style.display = "none";
 }

 // When the user clicks anywhere outside of the modal, close it
 window.onclick = function(event) {
     if (event.target == modal) {
         modal.style.display = "none";
     }
 }

</script>

<!-- 썸머노트 -->
<script>
    $(document).ready(function() {
	//여기 아래 부분
	$('#summernote').summernote({
		  height: 300,                 // 에디터 높이
		  minHeight: null,             // 최소 높이
		  maxHeight: null,             // 최대 높이
		  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		  lang: "ko-KR",					// 한글 설정
		  placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
          
	});
});
</script>
<script>
    // 서머노트에 text 쓰기
$('#summernote').summernote('insertText', 써머노트에 쓸 텍스트);


// 서머노트 쓰기 비활성화
$('#summernote').summernote('disable');

// 서머노트 쓰기 활성화
$('#summernote').summernote('enable');


// 서머노트 리셋
$('#summernote').summernote('reset');


// 마지막으로 한 행동 취소 ( 뒤로가기 )
$('#summernote').summernote('undo');
// 앞으로가기
$('#summernote').summernote('redo');
</script>