<!-- 카테고리바 -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>김군화넷</title>

  <link rel="stylesheet" type="text/css" href="Stylesheet/review.css" />
  <link rel="stylesheet" type="text/css" href="Stylesheet/css_set.css" />

</head>

<body>
  <%- include ("header")%>
  <div class="content">

    <!-- 탑베너 -->
    <div class="top-banner">
      <div class="top-banner-content">
        <img class="army-mark" src="icon/img/3.jpg" />
        <div class="banner-title">
          <span><%=divdata.name%> (<%=divdata.brigade%>)</span>
          <div class="banner-text">
            <img class="banner-icon" src="icon/crown.svg" />
            <%var totalrating = (ratingdata.info.px_rating + ratingdata.info.domitory_rating + ratingdata.info.meal_rating + ratingdata.info.location_rating + ratingdata.info.shower_rating)/5%>
            <span><%=totalrating%> (<%=ratingdata.info.review_count%>개 리뷰)</span>
          </div>
        </div>
        <div class="review-btn">
          <a href = "/reviewWrite">
          <span>이 사단 리뷰하기</span>
          </a>
        </div>
      </div>
    </div>

    <!-- 중간 카테고리 -->
    <div class="category">
      <div class="category-content">
        <div id= "category-review" class="category-cell now-state">
          <a href = "/review?uid=1">
          <span>리뷰</span>
          </a>
        </div>
        <div id= "category-community" class="category-cell">
          <a href = "/community?uid=1">
          <span>커뮤니티</span>
          </a>
        </div>
        <div id= "category-local" class="category-cell">
          <a href = "/local?uid=1">
          <span>주변생활</span>
        </a>
        </div>
      </div>
    </div>

    <div class="bottom-background" id = "review-page">
      <div class="bottom-content">
        <div class="bottom-content-left">
          <div class="text-box">
            <span><%=divdata.name%> 리뷰</span>
            <div style="display: flex;">
              <div class="sub-text-box">
                <div class="total-review">
                  <span>4.0</span>
                  <%for (var i = 0 ; i < 4 ; i ++){%>
                  <img class="total-review-icon" src="icon/crown.svg" />
                  <%}%>
                  <img class="total-review-icon"  src="icon/Vector 9.1.png"/>
          <div class = "total-review-text"><%ratingdata.info.review_count%>개 리뷰</div>
        </div>
        <div class = "sub-review"> 
          <%for (var i = 0 ; i < 5 ; i ++){%>
                  <div class="sub-review-cell">
                    <span><%= 5-i%></span>
                    <img class="total-review-icon" src="icon/crown.svg" />
                    <div class="bar-graph"></div>
                  </div>
                  <%}%>
        </div>
      </div>
      <div class = "vertical-line"></div>
      <div class = "sub-text-box">
        <div class = "total-review">
          <span>항목별 평점</span>
        </div>
        <div class = "sub-review"> 

                  <div class="sub-review-cell">
                    <span><%=ratingdata.info.px_rating%></span>
                    <img class="total-review-icon" src="icon/crown.svg" />
                    <span>PX 시설</span>
                  </div>
                  <div class="sub-review-cell">
                    <span><%=ratingdata.info.domitory_rating%></span>
                    <img class="total-review-icon" src="icon/crown.svg" />
                    <span>생활관 시설</span>
                  </div>
                  <div class="sub-review-cell">
                    <span><%=ratingdata.info.meal_rating%></span>
                    <img class="total-review-icon" src="icon/crown.svg" />
                    <span>식사</span>
                  </div>
                  <div class="sub-review-cell">
                    <span><%=ratingdata.info.location_rating%></span>
                    <img class="total-review-icon" src="icon/crown.svg" />
                    <span>위치</span>
                  </div>
                  <div class="sub-review-cell">
                    <span><%=ratingdata.info.shower_rating%></span>
                    <img class="total-review-icon" src="icon/crown.svg" />
                    <span>샤워실 시설</span>
                  </div>

        </div>
      </div>
      </div>
      </div>
      <div class = "text-box" style="margin-top: 20px;">
                           
        <div>
          <select>
              <option value="id">최신순</option>
              <option value="pop">좋아요순</option>
              <option value="low">평점 높은 순</option>
              <option value="high">평점 낮은 순</option>
          </select>
      </div>
        <%for(var k = 0; k< ratingdata.list.length ; k ++){%>
        <div class = "personal-review">
          <div class = "personal-review-left">
            <span>4.0</span>
            <div style="display:flex; margin-top: 12px; margin-bottom:28px">
            <%for (var i = 0 ; i < 4 ; i ++){%>
                  <img class="total-review-icon" src="icon/crown.svg" />
                  <%}%>
                  <img class="total-review-icon"  src="icon/Vector 9.1.png"/>
          </div>
          <div class = "sub-review"> 
            <div class="sub-review-cell">
              <span><%=ratingdata.list[k].px%></span>
              <img class="total-review-icon" src="icon/crown.svg" />
              <span>PX 시설</span>
            </div>
            <div class="sub-review-cell">
              <span><%=ratingdata.list[k].domitory%></span>
              <img class="total-review-icon" src="icon/crown.svg" />
              <span>생활관 시설</span>
            </div>
            <div class="sub-review-cell">
              <span><%=ratingdata.list[k].meal%></span>
              <img class="total-review-icon" src="icon/crown.svg" />
              <span>식사</span>
            </div>
            <div class="sub-review-cell">
              <span><%=ratingdata.list[k].location%></span>
              <img class="total-review-icon" src="icon/crown.svg" />
              <span>위치</span>
            </div>
            <div class="sub-review-cell">
              <span><%=ratingdata.list[k].shower%></span>
              <img class="total-review-icon" src="icon/crown.svg" />
              <span>샤워실 시설</span>
            </div>
          </div>
          </div>
          <div class = "personal-review-right">
            <span><%=ratingdata.list[k].comment%></span>
            <span>현역 2021.02.03</span>
        
          <div class = "personal-review-title">장점</div>
          <div class = "personal-review-text"><%=ratingdata.list[k].pros%></div>
          <div class = "personal-review-title">단점</div>
          <div class = "personal-review-text"><%=ratingdata.list[k].cons%></div>

          <div class = "helpful-btn">
            <img src = "icon/happy.png" width="16" height="16">
            <span>도움이 돼요  (<%=ratingdata.list[k].like_count%>)</span>
          </div>
        </div>
      </div>
    
    <%}%>
  </div>
  </div>
    <div class="bottom-content-right">
      <div class="text-box">
        <span>사단 정보</span>
        <div class="info-cell" style="margin-top: 20px;">
          <div class="info-title">
            주소
          </div>
          <div class="info-text">
            <%=divdata.address%>
          </div>
        </div>
        <div class="info-cell">
          <div class="info-title">
            사단 별칭
          </div>
          <div class="info-text">
            <%=divdata.nickname%>
          </div>
        </div>
        <div class="info-cell">
          <div class="info-title">
            식당 번호
          </div>
          <div class="info-text">
            백골회관 : 033-458-7540<br>
            삼성회관 : 033-458-5539
          </div>
        </div>
      </div>
        <div class="text-box" style="margin-top: 20px;">
          <span>관련 뉴스</span>
          <div class="news-cell" style="margin-top: 20px;">
            <img class="news-img" src = "icon/news/news.jpg" />
            <div class="news-text">
              철원군.의회 “3사단 사령부 이전 재검토를"
            </div>
          </div>
          <div class="news-cell" style="margin-top: 20px;">
            <img class="news-img" src = "icon/news/news2.jpg" />
            <div class="news-text">
              국가안보 희생을 지역 소멸로 되갚나’…철원군 3사단 존치 호소
            </div>
          </div>
          <div class="news-cell" style="margin-top: 20px;">
            <img class="news-img" src = "icon/news/news3.jpg" />
            <div class="news-text">
              육군 3사단, 철원·포천 일대서 18일부터 혹한기 훈련
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
 
    </div>
    </div>


  </div>
</body>

</html>